body {
	background-color: #181E26;
	overflow: hidden;
	color: #fff;
	font-size: 12px;
	font-family: "stheiti";
}
.main {
	margin: 0 auto;
	text-align: center;
}
.pic {
	padding-top: 200px;
}
.version {
	bottom: 30px;
	position: absolute;
	width: 100%;
}
.version p{
	color: #70777F;
}
.download {
	padding-top: 30px;
}
.btn {
	padding: 10px 15px; 
	background-color: #F0F2F5;
	border-radius: 30px;
	text-decoration: none;
	color: #70777F;
}